@* not found when using not sure why, maybe namespaces is the issue. Debug later *@
@using BlazorMaui.Services.Interfaces
@inject BeatsService BeatsService

<div class="audio-player">
    @* <div class="album-cover"></div> *@
    <div class="player-controls">
        <div class="song-info">
            <div class="song-title"> @Beat.Title</div>
            @* <p class="artist">Artist</p> *@
        </div>
        <div class="buttons">
            <button @onclick=" () => OnPlayBtnClick()" class="play-btn-2"><svg viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg" style="color: white"> <path fill="white" d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path> </svg></button>
            <button class="pause-btn-2"><svg viewBox="0 0 16 16" class="bi bi-pause-fill" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg" style="color: white"> <path fill="white" d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"></path> </svg></button>
        </div>
    </div>
</div>

@code {
    [Parameter] public Beat Beat { get; set; }

    private async void OnPlayBtnClick()
    {
        // await BeatsService.StreamAudioFromServer(Path.GetFileName(Beat.audioUrl));
    }
}
