@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-light mb-0" >
            <NavLink href="" style="text-decoration: none; color: inherit;" >
            <h2 class="">For the music</h2
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
