<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <NavLink href="" class="nav-link custom-link" Match="NavLinkMatch.All">
            <h1 class="navbar-brand">Music Cloud</h1>
            <span class="custom-underline"></span>
        </NavLink>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link custom-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                <span class="custom-underline"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link custom-link" href="/mylibrary" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> My Library
                <span class="custom-underline"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link custom-link" href="/cloudlibrary" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Cloud library
                <span class="custom-underline"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link custom-link" href="/myplaylists" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> My Playlists
                <span class="custom-underline"></span>
            </NavLink>
        </div>

    </nav>
</div>
